<!DOCTYPE html>
<html>
  <head>
    <title>BlindTable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon"
  type="image/png"
  href="<%= image_path("blind_table_logo.png") %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
